$regular-font: "PT Sans", sans-serif;
$letter-spacing-05: 0.5px;
$green: #00ff29;
$white: #ffffff;
$blue: #1f41a9;
$regular-font-size: 17px;
$bold-font-weight: 600;
$yellow-svg: invert(81%) sepia(94%) saturate(1311%) hue-rotate(1deg)
brightness(104%) contrast(107%);